In [1]:
import pandas as pd

# Woking with JSON

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,0.0438
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,0.8280
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,1.0700
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,4.6200
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,1.2800
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,2.9800
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,0.2110
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,0.3150
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-09-17,1726531201,0.1660

# Working with SQL

In [34]:
# !pip install mysql-connector-python
# conda install mysql-connector-python       #do it if needed

# go in the mysql workbench ,in mysql connections copy connection string to clipboard ðŸ‘‰ you will get this ðŸ‘‰ root@localhost:3306
#                                                                                    here root is user name  and local host is host 
# example                   root@127.0.0.1:3306        here root is username and "127.0.0.1" is host

#  so in general user@host : bla bla  

import mysql.connector
import pandas as pd
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='S@mrat7894',  
    database='sounak' 
)# take this from mysql
df = pd.read_sql_query("SELECT * FROM countrylanguage", conn)
# conn.close()  #do it when you want to close the connection

C:\Users\HP User\AppData\Local\Temp\ipykernel_17556\2791569084.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM countrylanguage", conn)

In [35]:
df

    LanguageID CountryCode    Language IsOfficial  Percentage
0            1         USA     English          T        82.1
1            2         USA     Spanish          F        13.5
2            3         IND       Hindi          T        44.8
3            4         IND     English          F        12.2
4            5         FRA      French          T        88.3
5            6         USA     English          T        82.1
6            7         USA     Spanish          F        13.5
7            8         IND       Hindi          T        44.8
8            9         IND     English          F        12.2
9           10         FRA      French          T        88.3
10          11         FRA      German          F         1.2
11          12         JPN    Japanese          T        98.5
12          13         JPN     English          F         0.4
13          14         BRA  Portuguese          T        97.9
14          15         BRA     Spanish          F         1.0
15          16         RUS     Russian          T        99.0
16          17         RUS       Tatar          F         3.0
17          18         CHN    Mandarin          T        70.0
18          19         CHN   Cantonese          F         5.0
19          20         MEX     Spanish          T        98.0
20          21         MEX     Nahuatl          F         1.4

In [36]:
df1=pd.read_sql_query("select Language from countrylanguage",conn)

C:\Users\HP User\AppData\Local\Temp\ipykernel_17556\1359428747.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql_query("select Language from countrylanguage",conn)

In [37]:
df1

      Language
0      English
1      Spanish
2        Hindi
3      English
4       French
5      English
6      Spanish
7        Hindi
8      English
9       French
10      German
11    Japanese
12     English
13  Portuguese
14     Spanish
15     Russian
16       Tatar
17    Mandarin
18   Cantonese
19     Spanish
20     Nahuatl

In [38]:
df

    LanguageID CountryCode    Language IsOfficial  Percentage
0            1         USA     English          T        82.1
1            2         USA     Spanish          F        13.5
2            3         IND       Hindi          T        44.8
3            4         IND     English          F        12.2
4            5         FRA      French          T        88.3
5            6         USA     English          T        82.1
6            7         USA     Spanish          F        13.5
7            8         IND       Hindi          T        44.8
8            9         IND     English          F        12.2
9           10         FRA      French          T        88.3
10          11         FRA      German          F         1.2
11          12         JPN    Japanese          T        98.5
12          13         JPN     English          F         0.4
13          14         BRA  Portuguese          T        97.9
14          15         BRA     Spanish          F         1.0
15          16         RUS     Russian          T        99.0
16          17         RUS       Tatar          F         3.0
17          18         CHN    Mandarin          T        70.0
18          19         CHN   Cantonese          F         5.0
19          20         MEX     Spanish          T        98.0
20          21         MEX     Nahuatl          F         1.4